.card{
    display: flex;
   
    flex-wrap: wrap;
  
}
.card img{
    width: 30vmax;
    height: 20vmax;
    border-radius: 20px;
    transition: all 0.7s;
}
.card img:hover{
transform: scale(1.1);
cursor: pointer;
}
.cardItem{
    margin: 1vmax;
    overflow: hidden;
    border-radius: 20px;
}
h1{
    /* font-size: 4vmax;
    font-family: "Roboto";
    font-weight: 300; */
    font: 400 4vmax "Roboto";
    width: 10%;
    margin: auto;
    margin-top: 5vmax;
}